@charset "UTF-8";
/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
/* Colors */
/* Sizes */
/* Media Query Breakpoint */
/* Header Arrow Effect */
/* Typography */
@page {
  size: A4;
  margin: 0;
}

h1, h2, h3 {
  font-family: Bitter, serif;
}

h1 {
  color: #333;
  font-size: 150%;
  margin-bottom: 10px;
}

h2 {
  color: #707070;
}

a {
  color: #db4747;
}
a:hover, a:focus {
  color: #c82727;
}

/* Box Model */
/*
*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*/

body {
  background: #CAE5E7;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.resume {
  position: relative;
  background: white;
  max-width: 1000px;
  margin: 0 auto 0;
}

header {
  position: relative;
  background: #3b8fb8;
  width: 100%;
  overflow: hidden;
  height: 90px;
}
header h1 {
  position: relative;
  font-family: 'Bitter', serif;
  font-size: 300%;
  background: #28627d;
  color: white;
  margin: 0;
  height: 90px;
  padding-top: 15px;
  padding-left: 35px;
  padding-right: 30px;
  float: left;
  z-index: 2;
}
header h1:after {
  position: absolute;
  content: '';
  height: 100%;
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
  border-left: 20px solid #28627d;
  right: -20px;
  top: 0;
}
header div {
  position: relative;
  color: white;
  float: left;
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 48px;
  height: 90px;
}
header div:first-of-type {
  background: #2e779c;
  z-index: 1;
}
header div:first-of-type:after {
  position: absolute;
  content: '';
  height: 100%;
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
  border-left: 20px solid #2e779c;
  right: -20px;
  top: 0;
}
header a {
  color: white;
  text-decoration: none;
}
header a:hover, header a:focus {
  color: greenyellow;
}

.info {
  display: flex;
}

section {
  float: left;
  width: 100%;
  padding: 0 30px;
}
section h2 {
  font-size: 120%;
}
section p {
  line-height: 1.5;
}

.work .block {
  margin-bottom: 20px;
}

aside {
  float: right;
  background: whitesmoke;
  border-left: 1px solid #ccc;
  width: 30%;
  padding-left: 30px;
  padding-right: 30px;
}
aside h1 {
  font-size: 150%;
}
