@import "css3";

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);

/* Colors */
$body: #CAE5E7;
$level1: #28627d;
$level2: #2e779c;
$level3: #3b8fb8;
$link: #db4747;

/* Sizes */
$arrow-width: 20px;
$pad: 30px;
$header-height: 90px;

/* Media Query Breakpoint */
//@mixin breakpoint($point) {
//  @if $point == header-2rows {
//    @media (max-width : 75em) {@content;}
//  }
//  @if $point == header-3rows {
//    @media (max-width : 36em) {@content;}
//  } 
//  @if $point == thin {
//    @media (max-width : 58em) {@content;}
//  } 
//}

/* Header Arrow Effect */
@mixin arrow($color) {
  position: absolute;
  content: '';
  height: 100%;
  border-top: $header-height / 2 solid transparent;
  border-bottom: 45px solid transparent;
  border-left: $arrow-width solid $color;
  right: -$arrow-width;
  top: 0;
}

/* Typography */
h1, h2, h3 {
  font-family: Bitter, serif; 
}
h1 {
  color: #333;
  font-size: 190%;
}
h2 {
  color: #707070; 
}
ul {
  list-style: none;
  margin-left: -1.1em;
}
li {
  margin-bottom: 10px; 
  position: relative;
  &:before {
    content: '✓';
    position: absolute;
    left: -20px;
  }
}
a {
  color: $link;
  @include transition(all .2s ease);
  &:hover, &:focus {
    color: darken($link, 10%);    
  }
}
.clearfix {
  display: table;
  content: '';
  clear: both;
}

/* Box Model */
*, *:after, *:before {
  @include box-sizing(border-box);
}
body {
  background: $body;
  color: #333; 
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
page[size="A4"] {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
@media print {
  body, page[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }
}
.resume {
  position: relative;
  background: white;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto 50px;
  box-shadow: 
    0 0 3px rgba(0, 0, 0, 0.2), 
    inset 0 0 10px rgba(0, 0, 0, 0.1);
  @include breakpoint(thin) {
    width: 96%;  
  }
}
header {
  @extend .clearfix;
  position: relative;
  background: $level3;
  width: 100%;
  overflow: hidden;
  height: $header-height;
  text-shadow: 1px 2px 3px darken(#517EA8, 20%);
  h1 {
    position: relative;
    font-family: 'Bitter', serif;
    font-size: 250%;
    background: $level1;
    color: white;
    margin: 0;
    height: $header-height;
    padding-top: 15px;
    padding-left: $pad + 5px;
    padding-right: $pad;
    float: left;
    z-index: 2;  
//    @include breakpoint(header-2rows) {
//      width: 100%;
//      padding-right: 5px;
//    }
//    @include breakpoint(header-3rows) {
//      span {
//        display: none; 
//      }      
//    }
//    &:after {
//      @include arrow($level1);
//    }
  }
  div {
    position: relative;
    color: white;
    float: left;
    padding-top: 24px;
    padding-left: $pad * 2;
    padding-right: $pad * 1.6;
    height: $header-height; 
//    @include breakpoint(header-2rows) {
//      width: 50%;
//    }
//    @include breakpoint(header-3rows) {
//      width: 100%;
//      padding-left: $pad;
//    }
//    &:first-of-type {
//      background: $level2;
//      z-index: 1;
//      &:after {
//        @include arrow($level2);
//      }
//      @include breakpoint(header-2rows) {
//        padding-left: $pad;  
//      }
//    }
  }
  a {
    color: white;
    padding: 0 3px;
    border-radius: 2px;
    text-decoration: none;
    &:hover, &:focus {
      color: white;
      background: #00baa6;
    }
  }
}

.info {
  @extend .clearfix;
  width: 100%;
}
section {
  float: left;
  width: 80%;
  padding: 0 $pad;
  article {
    margin-bottom: $pad; 
  }
  h2 {
    font-size: 100%;
    text-transform: uppercase;
    margin-bottom: 0;
    span {
      text-transform: none;
    }
  }
  p {
    line-height: 1.5;
  }
  .education p {
    margin-top: 3px; 
  }
  @include breakpoint(thin) {
    width: 100%;  
  }
}
.work .block {
  margin-bottom: 30px; 
}

aside {
  float: right;
  background: blue;
  border-left: 1px solid #ccc;
  width: 20%;
  padding-left: $pad;
  padding-right: $pad;
  article {
    margin-bottom: 50px;
  }
  h1 {
    font-size: 150%;
    margin-top: 29px;
  }
  a {
    color: #333;
    text-decoration: none;
    border-bottom: 1px dashed gainsboro;
    &:hover, &:focus {
      background: darken(whitesmoke, 5%);
    }
  }
  @include breakpoint(thin) {
    width: 100%; 
    border-left: none;
    border-top: 1px solid #ccc;
  }
}
